.btn {
  display: inline-block;
  padding: 15px 10px;
  background: #00ff00;
  font-family: 'Helvetica';
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  margin: 10px;
  color: #fff; }

.btn:hover {
  background: #005522; }

.btn.green {
  background: #00ff00;
  color: #fff; }

.btn.green:hover {
  background: #00cc00; }

.btn.blue {
  background: #0000ff;
  color: #fff; }

.btn.blue:hover {
  background: #0000cc; }

.btn.red {
  background: #ff0000;
  color: #fff; }

.btn.red:hover {
  background: #cc0000; }
