body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #d1f7f4;
  color: #777; }
  body #container {
    box-sizing: border-box;
    margin: 5%;
    background: #fff;
    position: relative;
    text-align: center; }
    body #container h5 {
      font-weight: 500; }
    body #container .container {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: row; }
      body #container .container .bio {
        width: 70%;
        text-align: left; }
        body #container .container .bio p {
          text-align: justify;
          font-size: 14px; }
      body #container .container .bio-icon {
        width: 30%;
        align-self: center; }
      body #container .container.contactForm {
        min-height: 500px;
        justify-content: space-between;
        margin: auto;
        box-sizing: border-box; }
        body #container .container.contactForm form {
          box-sizing: border-box;
          align-self: center;
          width: 70%;
          text-align: justify; }
          body #container .container.contactForm form #input {
            box-sizing: border-box;
            width: 45%;
            background: #eee;
            border: none;
            color: #777;
            padding: 10px; }
          body #container .container.contactForm form textarea {
            margin: 30px 0;
            box-sizing: border-box;
            width: 100%;
            background: #eee;
            border: none;
            color: #777;
            padding: 10px; }
          body #container .container.contactForm form #submit {
            border: 2px solid #61b4be;
            color: #61b4be;
            background: #fff;
            width: 100px;
            height: 30px;
            border-radius: 3px; }
        body #container .container.contactForm div {
          align-self: center; }
    body #container header {
      background: #f4f0f0;
      width: 100%;
      height: 100%;
      padding-top: 10px; }
      body #container header .nav {
        margin: 0 40px; }
        body #container header .nav .mainlogo {
          height: 50px;
          float: left; }
        body #container header .nav ul {
          height: 50px;
          display: flex;
          flex-direction: row;
          list-style: none;
          justify-content: flex-end; }
          body #container header .nav ul li {
            margin: auto 20px; }
            body #container header .nav ul li a {
              color: #777;
              text-decoration: none; }
              body #container header .nav ul li a img {
                height: 16px; }
              body #container header .nav ul li a:hover {
                color: #999; }
    body #container .topPicture {
      width: 100%; }
    body #container .services {
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: center; }
      body #container .services div {
        width: 30%; }
        body #container .services div p {
          text-align: justify;
          font-size: 12px;
          line-height: 1.5; }
    body #container #projects {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%; }
      body #container #projects div {
        box-sizing: border-box;
        width: calc(100%/3);
        height: calc(100vw/3);
        position: relative; }
        body #container #projects div img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%; }
    body #container #location {
      position: relative;
      width: 100%;
      height: 250px; }
      body #container #location img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    body #container #contact-info {
      background: #61b4be;
      color: #fff;
      display: flex;
      flex-direction: row;
      height: 100%;
      padding-bottom: 20px; }
      body #container #contact-info div {
        width: calc(100%/3); }
        body #container #contact-info div p {
          padding-left: 34%;
          font-size: 8px;
          text-align: left; }
        body #container #contact-info div img {
          width: 30px;
          margin: 0 5px; }
        body #container #contact-info div input {
          margin-top: 50px; }
    body #container footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 30px;
      background: #444;
      color: #fff; }
      body #container footer div {
        width: calc(100%/3);
        align-self: center; }
        body #container footer div h6 {
          font-weight: 400; }
