* {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
    background: #36acd7;
    display: flex;
}

header>img {
    height: 100px;
    padding: 5px;
}

header>p {
    margin: auto;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
}
form {
    padding: 5px;
}

input {
    font-size: 20px;
    box-sizing: border-box;
    width: 180px;
    margin: 0 2px;
}

button {
    background: #36acd7;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.meme {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
}
.img {
    max-width: 100%;
    max-height: 100%;
}


.top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 2px;
}
