@import 'assets/_reset.scss';

body {
    font-family: PT Sans, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    background: #ddd;
}