@import 'assets/_colors.scss';

.note-container {
    font-size: 14px;
    line-height: 18px;
    color: $light_grey;

    .title {
        font-weight: bold;
        margin-bottom: 3px;
    }

    .message {
        margin-bottom: 15px;
    }

    .fa-play, .fa-exclamation-triangle, .fa-comment-alt {
        margin-right: 10px;
    }
    
    &.simples {
        .title {
            color: $dark_grey;
        }
        
        .fa-play {
            color: $grey;
        }
    }

    &.alerts {

        .title {
            color: $red;
        }
        
        .fa-exclamation-triangle {
            color: $red;
        }
    }

    &.anonnotations {

        .title {
            color: $blue;
        }
        
        .fa-comment-alt {
            color: $blue;
        }
    }
    
}