@import 'assets/_colors.scss';

.manage-block__form {
    .textarea {
        position: relative;
    
        .user-avatar {
            width: 25px;
            position: absolute;
            margin-top: 20px;
            margin-left: 10px;
        }
    
        .textarea-input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 100px;
            margin: 10px 0;
            border: 1px solid $separate_grey;
            padding: 10px 10px 10px 40px;
        }
    }

    .footer-buttons {

        span {
            font-size: 13px;
            color: $light_grey;
            cursor: pointer;
        }

        .btn {
            font-size: 13px;
            line-height: 17px;
            color: $grey;
            border: 1px solid $bright_grey;
            border-radius: 3px;
            padding: 5px 10px;;
            margin-right: 10px;

            &.post_btn {
                font-weight: bold;
                background: $blue;
                color: $white;
                border-color: $blue;
            }

            &:hover {
                cursor: pointer;
                background: $light_blue;
                color: $white;
                border-color: $blue;
            }
        }
    }
}