@import 'assets/_colors.scss';

.note-content {
    height: 100%;
    width: 100%;
    height: 90%;
    overflow-y: scroll;

    .note-container {
        display: flex;

        .fa-comment-alt {
            color: $blue;
        }
    }
}