@import 'assets/_colors.scss';

.manage-block {
    background: #fff;
    border-radius: 2px;
    padding: 15px;
    width: 670px;
    height: 180px;
    margin: auto;
    margin-top: 40px;

    .fa {
        margin-right: 5px;
    }
}