@import 'assets/_colors.scss';

.container {
    width: 670px;
    margin: auto;

    .fa, .far {
        margin-right: 5px;
    }

    .manage-block {
        background: #fff;
        border-radius: 2px;
        padding: 15px;
        width: 100%;
        height: 200px;
        margin-top: 40px;
        box-sizing: border-box;
    }
}