@import 'assets/_colors.scss';

.footer_btn {
    font-size: 14px;
    line-height: 18px;
    color: $light_grey;
    border: none;
    margin-right: 9px;
    margin-top: 7px;

    &.tray {
        float: right;
    }

    &:hover {
        cursor: pointer;
        color: $light_blue;
    }
}