@import 'assets/_colors.scss';

.note-footer {
    box-sizing: border-box;
    height: 36.5px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 10px;
    border-top: 2px solid $separate_grey;
}